.SideDrawer{
    width: 280px;
    max-width: 70%;
    position: fixed;
    top:0px;
    left:0px;
    background-color: white;
    padding: 7px 16px;
    z-index: 200;      /* greater than backdraw */
    height: 100%;
    box-sizing: border-box;
    transition: transform 0.6 ease-out;

}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}
.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
.Logo{
    height: 11%;

}