
html{
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A9A9A9;
  opacity: 1; /* Firefox */
}
